body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#input{
    margin: 2.5vh;
}

#cardsprint{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(5, 18vw);
}

.card{
    position: relative;
    margin: 5px;
}

.doublefacedcard{
    margin: 0;
    transform: scale(1);
    transform-style: preserve-3d;
    transition:transform .5s;
    transform-origin: center;
}

.doublefacedcard.flip{
    transform: rotateY(180deg);
}

.frontFace, .backSide{
    grid-area: 1/1;
    position: absolute;
    backface-visibility: hidden;
}
.backSide{
    transform: rotateY(180deg);
}

.flipbtn{
    position: absolute;
    opacity: 0.80;
    background: white;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #343242;
    display: block;
    height: 44px;
    width: 44px;
    padding: 7px;
    cursor: pointer;
}
img{
    width: 100%;
}

/*overlay and modal*/

.overlay{
    position:fixed;
    z-index:10;
    width:100vw;
    height:100vh;
    top: 0%;
    background:hsl(199, 21%, 17%, .75); 
    display:flex; 
    align-items: center; 
    justify-content:center; 
    flex-direction:column;
}
.modal{
    border-radius:10px;
    width:1400px;
    min-height:500px;
    padding:10px;
    background:rgb(248, 248, 248);
}
.modal button{
    border-radius:10px;
    padding:10px 14px;
    margin: 0.5vw;
    cursor: pointer;
}

#cardInfo{
    display: flex;
}

#cardbox{
    width: 20vw;
}

#textbox{
    width: 25vw;
    margin-left: 1vw;
}
#altbox{
    width: 40vw;
}
#singlecard{
    display: grid;
}